av
fairseq==0.12.2
faiss-cpu==1.7.3
ffmpeg-python>=0.2.0
librosa
matplotlib>=3.7.0
numpy
onnxruntime; sys_platform == 'darwin'
onnxruntime-gpu; sys_platform != 'darwin'
praat-parselmouth>=0.4.2
python-dotenv>=1.0.0
pyworld==0.3.2
scikit_learn
scipy
soundfile>=0.12.1
torchcrepe==0.0.20
torchfcpe
tqdm>=4.63.1
